doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(name='viewport' content='width=device-width')
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    title order-notification
    style(type='text/css').
      * {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      body {
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: none;
        align-items: center;
        height: 100%;
        background-color: #f6f6f6;
        width: 100%;
        padding: 24px;
      }

      .container {
        display: block !important;
        max-width: 800px !important;
        margin: 0 auto !important;
        /* makes it centered */
        clear: both !important;
        background-color: #fff;
      }

      .content {
        max-width: 800px;
        margin: 0 auto;
        display: block;
        padding: 36px;
      }

      .header-section {
        margin-bottom: 24px;
      }

      h3 {
        margin-top: 0;
        margin-bottom: 8px;
      }

      .secondary-font {
        color: #cfd0d2;
        margin-bottom: 32px;
      }

      .horizontal-line {
        border-bottom: 1px solid #f2f2f2;

      }

      table {
        padding: 24px 0;
      }

      .table-header {
        margin-bottom: 8px;
      }

      .order-item {
        padding: 18px 0;
        display: flex;
        width: 100%;
      }

      .picture-name-qty {
        display: flex;
        width: 91%;
      }

      .qty-size {
        display: block;
        margin-left: 10px;
      }

      .total-container {
        width: 100%;
        display: block;
        margin-bottom: 32px;
      }

      .total-block {
        float: right;
        max-width: 250px;
        width: 100%;
        margin: 32px 0;
      }

      .flex {
        display: flex;
      }

      .total {
        display: flex;
        font-weight: 400;
        font-size: 16px;
        padding: 8px 0;
      }

      .clear {
        clear: both;
        margin-bottom: 48px;
      }

      .thank-you {
        color: #9b6baa;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
      }

      .lpdr {
        font-weight: 400;
      }

      .aligncenter {
        text-align: center;
      }

      .manage-order-btn {
        background: #9761aa;
        color: #fff;
        border-radius: 6px;
        text-decoration: none;
        text-align: center;
        padding: 14px 22px;
        width: fit-content;
        font-size: 13px;
      }

      .float-right {
        font-weight: 400;
        float: right;
        width: fit-content;
      }

      .float-left {
        float: left;
        width: 75%;
      }

      .total-price {
        float: right;
        width: fit-content;
      }

      .footer {
        background: #fcfbfe;
        padding: 20px 36px;
        max-width: 800px;
        height: 20px;
      }

      .help {
        float: left;
      }

      .rescue {
        float: right;
      }
      span {
        color: #9761aa;
      }

      .logo {
        width:85px;
        height:auto;
        object-fit: cover;
        margin-bottom: 24px;
      }

      div {
        font-size: 11px;
      }

      .product-name {
        font-size: 14px;
      }

      .price {
        font-size: 16px;
        width: fit-content;
      }

        /* -------------------------------------
      RESPONSIVE AND MOBILE FRIENDLY STYLES
      ------------------------------------- */
      @media only screen and (max-width: 640px) {
        body {
          padding: 0 !important;
        }
        h3 {
          font-size: 16px !important;
        }
        .container {
          padding: 0 !important;
          width: 100% !important;
        }
        .content {
          padding: 0 !important;
        }
        .footer {
          margin-top: 32px !important;
          padding: 20px 0 !important;
          background: #fff !important;
        }
      }


  body(itemscope='' itemtype='http://schema.org/EmailMessage')
    .container(width='800')
      .content 
        .header-section
          img.logo(src='https://i.ibb.co/GMWQxTM/logo.png' alt='little paws dachshund rescue')                       
          div Order Id: <strong>#{id}</strong>
        .horizontal-line
        table(width='100%' cellpadding='0' cellspacing='0')
          tbody
            tr
              td
                div.table-header Order Date                          
                strong #{orderDate}
              td
                div.table-header Name                         
                strong #{name}
        .horizontal-line
        each val in orderItems
          .order-item 
            .picture-name-qty
              img.img(src=val.productImage, alt=val._id style='width:60px; height:60px')
              .qty-size
                strong.product-name #{val.productName}
                div Quantity: #{val.quantity}
                if val.size
                  div Size: #{val.size}
            strong.price $#{val.price}
        .horizontal-line
        .total-container 
          .total-block 
            .flex 
              .float-left Subtotal 
              .float-right  $#{subtotal}
            .flex 
              .float-left Shipping Fee 
              .float-right  $#{shippingPrice}
            .horizontal-line 
            .total 
              strong.float-left Total 
              strong.total-price  $#{totalPrice}
            .horizontal-line
        .clear 
          -var orderDetails = `<a href='http://localhost:3000/admin/order/${id}')>View Order Details</a>`;
          div.thank-you <span>!{orderDetails}</span>
      .footer
        .rescue Little Paws Dachshund Rescue #{new Date().getFullYear()}