doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(name='viewport' content='width=device-width')
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    title order-confirmation
    style(type='text/css').
      * {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      body {
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: none;
        align-items: center;
        height: 100%;
        width: 100%;
      }

      .container {
        display: block !important;
        max-width: 800px !important;
        margin: 0 auto !important;
        /* makes it centered */
        clear: both !important;
        background-color: #fff;
        min-width: 800px;
      }

      .content {
        max-width: 800px;
        margin: 0 auto;
        display: block;
        padding: 36px;
      }

      .header-section {
        margin-bottom: 24px;
      }

      h3 {
        margin-top: 0;
        margin-bottom: 8px;
      }

      .secondary-font {
        color: #bdc0c2;
        margin-bottom: 32px;
      }

      .horizontal-line {
        border-bottom: 1px solid #f2f2f2;

      }

      table {
        padding: 24px 0;
      }

      .table-header {
        margin-bottom: 8px;
      }

      .order-item {
        padding: 18px 0;
        display: flex;
        width: 100%;
      }

      .picture-name-qty {
        display: flex;
        width: 91%;
      }

      .qty-size {
        display: block;
        margin-left: 10px;
      }

      .total-container {
        width: 100%;
        display: block;
        margin-bottom: 32px;
      }

      .total-block {
        float: right;
        max-width: 250px;
        width: 100%;
        margin: 32px 0;
      }

      .flex {
        display: flex;
        padding-bottom: 6px;
      }

      .total {
        display: flex;
        font-weight: 400;
        font-size: 16px;
        padding: 8px 0;
      }

      .clear {
        clear: both;
        margin-bottom: 48px;
      }

      .thank-you {
        color: #6c6f79;
        font-size: 18px;
        font-weight: 400;
      }

      .lpdr {
        font-weight: 400;
      }

      .aligncenter {
        text-align: center;
      }

      .manage-order-btn {
        background: #9761aa;
        color: #fff;
        border-radius: 6px;
        text-decoration: none;
        text-align: center;
        padding: 14px 22px;
        width: fit-content;
        font-size: 13px;
      }

      .float-right {
        font-weight: 400;
        float: right;
        width: fit-content;
      }

      .float-left {
        float: left;
        width: 75%;
      }

      .total-price {
        float: right;
        width: fit-content;
      }

      .footer {
        background: #fcfbfe;
        padding: 20px 36px;
        max-width: 800px;
        height: 20px;
      }

      .help {
        float: left;
      }

      .rescue {
        float: right;
      }
      span {
        color: #9761aa;
      }

      .logo {
        width:175px;
        height:auto;
        object-fit: cover;
        margin-bottom: 24px;
      }

      div {
        font-size: 11px;
      }

      .product-name {
        font-size: 14px;
      }

      .price {
        font-size: 16px;
        width: fit-content;
      }

        /* -------------------------------------
      RESPONSIVE AND MOBILE FRIENDLY STYLES
      ------------------------------------- */
      @media only screen and (max-width: 640px) {
        body {
          padding: 0 !important;
        }
        h3 {
          font-size: 16px !important;
        }
        .content {
          padding: 0 !important;
        }
        .footer {
          margin-top: 32px !important;
          padding: 20px 0 !important;
          background: #fff !important;
        }
      }


  body(itemscope='' itemtype='http://schema.org/EmailMessage')
    .container(width='800')
      .content 
        .header-section
          a(href="https://www.littlepawsdr.org")
            img.logo(src='https://i.ibb.co/GMWQxTM/logo.png' alt='little paws dachshund rescue')
          h2 Welcome Wiener Donation Confirmation                          
          div Order Id: <strong>#{id}</strong>
        div.secondary-font Your donation is much appreciated by us at Little Paws and we thank you for your kind support
        .horizontal-line
        table(width='100%' cellpadding='0' cellspacing='0')
          tbody
            tr
              td
                div.table-header Created On                      
                strong #{createdAt}
              td
                div.table-header Payment                        
                strong PayPal
              td
                div.table-header Paypal Order Id                     
                strong #{paypalOrderId}
        .horizontal-line
        each val in orderItems
          .order-item 
            .picture-name-qty
              img.img(src=val.productImage, alt=val.dachshundName style='width:60px; height:60px; object-fit:cover;')
              .qty-size
                strong.product-name #{val.productName} for #{val.dachshundName}
                div Quantity: #{val.quantity}
            strong.price $#{val.price}
        .horizontal-line
        .total-container 
          .total-block 
            .flex 
              .float-left Subtotal 
              .float-right  $#{totalPrice.toFixed(2)}
            .horizontal-line 
            .total 
              strong.float-left Total 
              strong.total-price  $#{totalPrice.toFixed(2)}
        .clear 
          div.thank-you Thank you for donating!
          div.lpdr Little Paws Dachsund Rescue
      .footer
        -var contactLink = `<a href='https://littlepawsdr.herokuapp.com/about/contact-us')>Contact</a>`;
        .help Need Help? Visit our <span>!{contactLink}</span> page.
        .rescue Little Paws Dachshund Rescue #{new Date().getFullYear()}